@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind */
@layer components {
	.icon {
		@apply inline -translate-y-0.5;
	}
}
* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	font-family: "Fira", monospace;
}

@font-face {
	font-family: "Pacifico";
	src: url("/Assets/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Silkscreen";
	src: url("/Assets/fonts/Silkscreen/Silkscreen-Regular.ttf") format("truetype"),
		url("/Assets/fonts/Silkscreen/Silkscreen-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Fira";
	src: url("/Assets/fonts/Fira/FiraMono-Regular.ttf") format("truetype"),
		url("/Assets/fonts/Fira/FiraMono-Medium.ttf") format("truetype"),
		url("/Assets/fonts/Fira/FiraMono-Bold.ttf") format("truetype");
}
.page-content {
	overflow: hidden;
	height: calc(100vh - 64px);
}

.scrollAnimate {
	opacity: 0;
	transform: translateX(-25vw);
	transition: all 1s;
}

.scrollAnimate.light {
	transform: none;
}

.scrollAnimate.animate {
	opacity: 1;
	transform: translateX(0);
}

@media (prefers-reduced-motion) {
	.scrollAnimate {
		transition: none;
	}
}
